
  {% extends "sourceCode/base.html" %}

  {% block sidenav%}
  <div class="sidenav d-flex flex-column align-items-center justify-content-start">

    <a class="mt-5 d-flex flex-column align-items-center justify-content-center sidenav-user-info"
    href="{% url 'profile'%}">
      <img class="rounded sidenav-img" src="{{ user.profile.image.url }}" >
    <h2 class="mt-2">{{user.username}}</h2>
    </a>

    <a class="mt-5" href= {% url 'post-create' %}>
      Add Job
    </a>

    <div class="mt-3">
      History
    </div>

    <a class="advance-search mt-3"
      href="{% url 'jobTrack-advancesearch' %}">Advance Search
    </a>

  </div>
  {% endblock %}

  {% block content %}
  {% if appliedJobs|length <= 0 %}

  <div class="d-flex flex-column align-items-center justify-content-center default-text-home">
          <h2>NO TRACKER AVAILABLE. </h2>
      <h3>CLICK “ADD JOB ” TO TRACK JOBS</h3>
      <a href="{% url 'post-create'%}"> ADD JOB</a>
  </div>

  {% else %}

  <div class="tracker-content-section d-flex flex-column align-items-center">

    <div class="search-sort d-flex justify-content-between">

      <form class="home-form" action="." method="GET">
        <div class="form-row d-flex justify-content-center">
          <div class="form-group col-sm-10">
            <div class="input-group">
              <input class="form-control py-2 border-right-0 border" type="search" name="company_or_role_contains" placeholder="Company / Role">
              <span class="input-group-append">
                <button type="submit" class="input-group-text bg-transparent">
                  <i class='fa fa-search'></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </form>

      <div class="sorting-section mt-2 d-flex justify-content-end">
        <p class="mr-3 mt-2">SORT BY:</p>
        <form class="checking" action="." method="GET">
          <button class="child-btn btn" id="dateasc" onclick="return true" type="submit" name="date-asc" value="date_applied"> date <i class="fa fa-sort-amount-asc"></i> </button>
          <button class="child-btn btn" id=""  type="submit" name="date-desc" value="-date_applied">date <i class="fa fa-sort-amount-desc"></i></button>

          <button class="child-btn btn" id="" type="submit" name="company-asc" value="company">company <i class="fa fa-sort-alpha-asc"></i></button>
          <button class="child-btn btn" id="" type="submit" name="company-desc" value="-company">company <i class="fa fa-sort-alpha-desc"></i></button>

          <!-- <button class="btn"  type="submit" name="role-asc" value="role">role ascending</button>
          <button class="btn"  type="submit" name="role-desc" value="-role">role decending</button> -->
        </form>
      </div>
    </div>


    <!-- <form class="home-form" action="." method="GET">
      <div class="form-row d-flex justify-content-center">
        <div class="form-group col-8">
          <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" name="company_or_role_contains" placeholder="Company or Role..">
            <span class="input-group-append">
              <button type="submit" class="input-group-text bg-transparent">
                <i class='fa fa-search'></i>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="advance-search">
        <a href="{% url 'jobTrack-advancesearch' %}">Advance Search</a>
      </div>
  </form> -->

        {% for job in appliedJobs %}

          <div class="card">
            <div class="card-header d-flex justify-content-around align-items-end">
              <p>Applied on: {{ job.date_applied|date:"M d, Y" }}</p>
              <p>Status: {{ job.status }}</p>
            </div>
            <div class="card-body">
              <p>Company :</p> <span class="ml-4">
                <!-- <a href="{% url 'post-detail' job.id %}"> -->
                  {{ job.company }}</span>
                <!-- </a> -->
              <p>Role :</p> <span class="ml-4">{{ job.role }}</span>
            </div>
            <div class="card-footer">
              <a href="{% url 'post-update' job.id %}" title="update">
                <i class='fas fa-pen-alt update-icon'></i>
              </a>

              <a href="{% url 'post-delete' job.id %}" title="delete">
                <i class='far fa-trash-alt delete-icon'></i>
              </a>

            </div>
          </div>

        {% endfor %}

        <div class="pagination-section">
          {% if is_paginated %}
            {% if page_obj.has_previous %}
              <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{num}}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num <= page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{ num }}</a>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
          {% endif %}
        </div>
  </div>


  {% endif %} <!-- end of checking for job -->
    {% endblock content %}
