
  {% extends "sourceCode/base.html" %}

  {% block sidenav%}
  <div class="sidenav d-flex flex-column align-items-center justify-content-start">

    <a class="mt-5 d-flex flex-column align-items-center justify-content-center sidenav-user-info"
    href="{% url 'profile'%}">
      <img class="rounded sidenav-img" src="{{ user.profile.image.url }}" >
    <h2 class="mt-2">{{user.username}}</h2>
    </a>

    <a class="mt-5" href= {% url 'post-create' %}>
      Add Job
    </a>

    <a class="mt-3" href="{% url 'jobTrack-history' %}">
      History
    </a>

    <a class="advance-search mt-3"
      href="{% url 'jobTrack-advancesearch' %}">Advance Search
    </a>

  </div>
  {% endblock %}

  {% block content %}
    <div class="intro-section">
      <h4>Hello, {{user.username}} <br/>
          Let's track your future job together!</h4>
    </div>

    <div class="search-container">
      <div id="expand">

      </div>
    </div>

    <div class="outer-sortasearch-container">
      <div class="sort-asearch-container">
        <div class="sort-section">
          <p>SORT BY<span> : Date Min  |  Date Max  |
            Company Min  |  Company Max</span> </p>
        </div>
        <div class="asearch-section">
          <a class="asearch-link"
            href="{% url 'jobTrack-advancesearch' %}">
            Advance Search
          </a>
        </div>
      </div>
    </div>


  {% if appliedJobs|length <= 0 %}

  <div class="d-flex flex-column align-items-center justify-content-center default-text-home">
          <h2>NO TRACKER AVAILABLE. </h2>
      <h3>CLICK “ADD JOB ” TO TRACK JOBS</h3>
      <a href="{% url 'post-create'%}"> ADD JOB</a>
  </div>

  {% else %}

  <div class="outer-fields">
    <div id="secondouter-fields">
      <div class="fields-container container-fluid" id="fields-container">
        <div class="row">
          <div class="col-3 company d-flex align-items-center">
            Company
          </div>
          <div class="col-3 role d-flex align-items-center">
            Role
          </div>
          <div class="col-2 status d-flex align-items-center ">
            Status
          </div>
          <div class="col date d-flex align-items-center">
            Date
          </div>
          <div class="col empty d-flex align-items-center">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <a class="add-button" href="{% url 'post-create'%}">
    ADD JOB
  </a> -->

  <div id="downnav">
    <div id="expand-downnav">
      <div id="icons-downnav">
        <div class="icons-downnav">
          <a href="#">
            <i class="fas fa-home"></i>
            Home
          </a>
          <a href="{% url 'jobTrack-about'%}">
            <i class="fas fa-info-circle"></i>
            About
          </a>
          <a href="{% url 'jobTrack-advancesearch'%}">
            <i class="fa fa-search-plus" aria-hidden="true"></i>
            Advance Search
          </a>
          <a href="{% url 'jobTrack-history'%}">
            <i class="fas fa-history"></i>
            History
          </a>
          <a href="{% url 'post-create'%}">
            <i class="fas fa-plus-circle"></i>
            Add Job
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="tracker-container d-flex flex-column align-items-center">

    <!-- <div class="search-sort d-flex justify-content-between">
      <form class="home-form" action="." method="GET">
        <div class="form-row d-flex justify-content-center">
          <div class="form-group col-sm-10">
            <div class="input-group">
              <input class="form-control py-2 border-right-0 border" type="search" name="company_or_role_contains" placeholder="Company / Role">
              <span class="input-group-append">
                <button type="submit" class="input-group-text bg-transparent">
                  <i class='fa fa-search'></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </form>

      <div class="sorting-section mt-2 d-flex justify-content-end">
        <p class="mr-3 mt-2">SORT BY:</p>
        <form class="checking" action="." method="GET">
          <button class="child-btn btn" id="dateasc" onclick="return true" type="submit" name="date-asc" value="date_applied"> date <i class="fa fa-sort-amount-asc"></i> </button>
          <button class="child-btn btn" id=""  type="submit" name="date-desc" value="-date_applied">date <i class="fa fa-sort-amount-desc"></i></button>

          <button class="child-btn btn" id="" type="submit" name="company-asc" value="company">company <i class="fa fa-sort-alpha-asc"></i></button>
          <button class="child-btn btn" id="" type="submit" name="company-desc" value="-company">company <i class="fa fa-sort-alpha-desc"></i></button>
        </form>
      </div>
    </div> -->

  {% for job in appliedJobs %}

  <div class="card">
    <div class="card-body container-fluid">
      <div class="row mt-2">
        <div class="col-3 company-card d-flex align-items-center">
          {{ job.company }}
        </div>
        <div class="col-3 role-card d-flex align-items-center">
          {{ job.role }}
        </div>
        <div class="col-2 status-card d-flex align-items-center"
          {% if job.status == 'pending' %}
            style="color:#A5AF35;"
          {% elif job.status == 'success'%}
            style="color:#00AF66;"
          {% elif job.status == 'interviewing'%}
            style="color:#4C99D4;"
          {% elif job.status == 'not-selected'%}
            style="color:#AB1500;"
          {% endif %}
        >
          <i class="fa fa-circle"></i>{{ job.status }}
        </div>
        <div class="col date-card d-flex align-items-center">
          {{ job.date_applied|date:"M d, Y" }}
        </div>
        <div class="col icon-card d-flex justify-content-around
        align-items-center">
          <a href="{% url 'post-update' job.id %}" title="update">
            <i class='fas fa-pen-alt update-icon'></i>
          </a>

          <a href="{% url 'post-delete' job.id %}" title="delete">
            <i class='far fa-trash-alt delete-icon'></i>
          </a>
        </div>

        <!-- <div class="card-firstcol col-4">
          <h4>{{ job.company }}</h4>
          <p>{{ job.role }}</p>
        </div>

        <div class="card-secondcol col-sm">
          <p>{{ job.date_applied|date:"M d, Y" }}</p>
        </div>

        <div class="card-thirdcol col-sm">
          <p>Status: {{ job.status }}</p>
          <div class="icons-card">
            <a href="{% url 'post-update' job.id %}" title="update">
              <i class='fas fa-pen-alt update-icon'></i>
            </a>

            <a href="{% url 'post-delete' job.id %}" title="delete">
              <i class='far fa-trash-alt delete-icon'></i>
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>

{% endfor %}

        <div class="pagination-section">
          {% if is_paginated %}
            {% if page_obj.has_previous %}
              <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{num}}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num <= page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{ num }}</a>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
          {% endif %}
        </div>
  </div>


  {% endif %} <!-- end of checking for job -->
    {% endblock content %}
