
  {% extends "sourceCode/base.html" %}

  {% block sidenav%}
  <div class="sidenav d-flex flex-column align-items-center justify-content-start">

    <a class="mt-5 d-flex flex-column align-items-center justify-content-center sidenav-user-info"
    href="{% url 'profile'%}">
      <img class="rounded sidenav-img" src="{{ user.profile.image.url }}" >
    <h2 class="mt-2">{{user.username}}</h2>
    </a>

    <div class="mt-5">
      Add Tracker
    </div>
    <div class="mt-5">
      History
    </div>
    <div class="mt-5">
      Sort By
    </div>

  </div>
  {% endblock %}

  {% block content %}
  <div class="tracker-content-section d-flex flex-column align-items-center">
    {% for job in appliedJobs %}
    <div class="card">
      <div class="card-header d-flex justify-content-around align-items-end">
        <p>Applied on: {{ job.date_applied|date:"M d, Y" }}</p>
        <p>Status: {{ job.status }}</p>
      </div>
      <div class="card-body">
        <p>Company :</p> <span class="ml-4">{{ job.company }}</span>
        <p>Role :</p> <span class="ml-4">{{ job.role }}</span>
      </div>

    </div>

    {% endfor %}

  </div>
    {% endblock content %}
