{% extends "sourceCode/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="add-form" id="adding-form">
    <form  method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">ADD JOB</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group" id="add-button">
        <button class="btn btn-outline-info" type="submit" name="button">ADD</button>
      </div>
    </form>
  </div>

  {% endblock content %}
