html {
  scroll-behavior: smooth;
}
body {
  background: #C4C4C4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
}

/* new css */

.heading {
  height: 30vh;
  width: 100%;
  background-color: #388087;
  background-image: linear-gradient(167deg, #F6F6F2 29%, transparent 10%);
}


.navbar{
  background: transparent !important;
}
.navbar-brand {

}
.navbar .navbar-collapse {
  margin-right: 2rem;

}

.navbar .navbar-collapse ul {
  width:100%;
  display: flex;
  justify-content: flex-end;
}

.nav-right {
  margin-right: 5rem;
}

@media screen and (max-width: 992px) {
  .heading {
    background-image: none;
  }
}

.main-content{
  width: 100%;
  min-height: 200vh;
}

/* home */

.intro-search-container{

}

.intro-section{
  position: absolute;
  top: 15%;
  left: 20%;
  -ms-transform: translate(-20%, -15%);
  transition: translate(-20%, -15%);
}

.intro-section h4{
  font-weight: bolder;
  font-size: 2rem;
}

.search-container {
  position: sticky;
  /* background: yellowgreen; */
  width: 100%;
  height: 100px;
  top:0%;
  z-index: 1;
  margin-top: -2.5%;
}

#expand {
  background: rgb(71, 66, 65);
  min-height: 80px;
  min-width: 70%;
  position: absolute;
  will-change: width;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width .03s ease-in;
  transition: border-radius .03s ease-in;
  overflow: auto;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.outer-sortasearch-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: -8px;
}
.sort-asearch-container{
  width: 70vw;
  height: 50px;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.default-text-home{
  /* background-color: yellow; */
  width: 100%;
  min-height: 50vh;
}

.default-text-home h2,
.default-text-home h3  {
  color: #388087;
  opacity: 75%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.1vw;
}

.default-text-home a {
  background-color: #388087;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #F6F6F2;
  font-weight: bold;
  font-size: 1.2vw;
}

.default-text-home a:hover {
  background-color: #ffff;
  color: #388087;
}

/* -----------After adding job --------------------------------------- */
.outer-fields{
  width: 100%;
  height: 50px;
  position: sticky;
  top: 90px;
  z-index: 9999;
  display: flex;
  justify-content: center;
}

#secondouter-fields{
  background: #F6F6F2;
  height: 50px;
  min-width: 70vw;
  position: absolute;
  will-change: width;
  transition: width .03s ease-in;
  transition: border-radius .03s ease-in;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fields-container {
  background: #F6F6F2;
  width: 70vw;
  height: 50px;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3E5050;
}
.fields-container .row {
  height: 100%;
}
.fields-container .company {
  margin-left: 2rem;
}

.add-button{
  background: #388087;
  width: 100px;
  height: 50px;
  position: fixed;
  bottom: 6%;
  right: 7%;
  transform: translate(6%, 7%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  color:#F6F6F2;
  font-size: 0.9rem;
}

.add-button:hover{
  background-color: #F6F6F2;
  color: #388087;
  text-decoration: none;
}

/* ------!!!------!!!----scroll down----------------- */

#downnav {
  position: fixed;
  right: 0%;
  /* transform: translate(-50%); */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 50%;
  height: 0%;
  bottom: 0;
  z-index: 999;
  will-change: height;
  transition: height .1s ease;
}

#expand-downnav {
  width: 100%;
  min-height: 0%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  will-change: height;
  transition: height .1s ease;
  overflow: auto;
  position: absolute;
  bottom: 0;
  z-index: unset;
  display: flex;
  justify-content: center;
  background: #388087;
}

#icons-downnav{
  display: none;
  transition: all .5s ease;
  height: 100%;
  width: 85%;

}


.icons-downnav {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-height: 100%;
  will-change: display;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  /* background: red; */
}

#icons-downnav a {
  color: #F6F6F2;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items:center;
  font-size: 0.9vw;
}

#icons-downnav a:hover{
  color: black;
}

#icons-downnav a i{
  font-size: 1.8vw;
  margin: 0 0 5px 0;
}




/* ------!!!------!!!----scroll down--------- end-------- */

.tracker-container{
  /* background: red; */
  width: 100%;
  padding: 10px 0px;
  /* margin-top: 25px; */
}

.card {
  background-color: #F6F6F2;
  margin: 1.5rem 0 0rem 0;
  border-radius: 10px;
  border-color: #F6F6F2;
  width: 70vw;
  font-weight: bold;
  color: #388087;
  /* color: black; */
  min-height: 80px;
  font-size: 1.1vw;
  letter-spacing: 0.03em;
  /* text-transform: uppercase; */
}


.card-body .company-card{
  margin-left: 2rem;
}

.card-body .status-card i {
  font-size: 0.7vw;
  margin-right: 0.5rem;
}

.card-body .date-card{
  /* background-color: red; */
}

.card-body .icon-card{
  /* background-color: yellow; */
}

.card-body .icon-card a {
  text-decoration: none;
  color: #3E5050;
}

.card-body .icon-card .update-icon:hover {
  color: #3431CD;
}
.card-body .icon-card .delete-icon:hover {
  color: #981B00;
}




/* responsive ---!!---!!----------------------------responsive---------------!!---------- */
@media screen and (max-width: 768px) {
  .intro-section{
    top: 19%;
    left: 15%;
    -ms-transform: translate(-15%, -19%);
    transition: translate(-15%, -19%);
  }
  .intro-section h4{
    font-size: 1.7rem;
  }
  .search-container {
    height: 80px;
    margin-top: -5%;
  }
  #expand {
    min-width: 80vw;
    min-height: 70px;
  }
  .sort-asearch-container{
    width: 80vw;
    margin-top: 0px;
  }
  .sort-section span {
    display: none;
  }
  .default-text-home h2,
  .default-text-home h3  {
    color: #388087;
    opacity: 75%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4vw;
  }
  .default-text-home a {
    font-size: 2vw;
  }

}

@media screen and (max-width: 562px) {
  .intro-section{
    position: absolute;
    top: 13%;
    left: 10%;
    -ms-transform: translate(-10%, -13%);
    transition: translate(-10%, -13%);
    /* background: yellow; */
  }
  .intro-section h4{
    font-size: 1.5rem;
  }

  .search-container {
    width: 100%;
    height: 70px;
    top:0%;
    margin-top: -6%;
  }
  #expand {
    min-height: 70px;
    min-width: 100vw;
    left: 50%;
    border-radius: 0px;
  }

  .sort-asearch-container{
    width: 100vw;
    position: absolute;
    left: 0%;
    transform: translateX(0%);
    padding: 10px 20px;
    margin-top: 5px;
  }
  .sort-section span {
    display: none;
  }
  .default-text-home a {
    font-size: 2.5vw;
  }
}

/* adding form ----!!!-----------adding form---------------!!------- */
#adding-form{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  width: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.add-form {
  /* border: 2px solid #388087; */
  padding: 10px 20px;
  color: #388087;
  border-radius: 10px;
  background-color: #F6F6F2;
}

.add-form legend{
  text-align: center;
  font-size: 1.6vw;
  font-weight: bold;
}
.add-form .form-group{
  font-weight: bold;
}

.add-form textarea {
  height: 2.5rem;
}

.add-form #add-button {
  text-align: center;
}

@media screen and (max-width: 768px) {
  #adding-form{
    width: 80%;
  }
  .add-form legend {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 500px) {
    #adding-form{
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
}

#historyContainer{
  background: #981B00;
}

.history-buttons{
  background: #3431CD;
}

.about {
  color: #981B00;
}

/* ----!----- */


/* old css */

ul {
  margin: 0;
}

.bg-steel {
  background-color: #388087;
}

.site-header .navbar-nav .nav-link {
  color: #F6F6F2;
}

.site-header .navbar-nav .nav-link:hover {
  color: #3E5050;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: bold;
}


/* home.html */
.sidenav {
  position: fixed;
  background: #F6F6F2;
  height: 100vh;
  width: 16%;
  margin-top: -5rem;
  padding-top: 5rem;
  color: #388087;
}

.sidenav-user-info {
  width: 180px;
  height: 200px;
  border-radius: 1rem;
  transition: all  0.5s;
}
.sidenav-user-info:hover {
  background: #E5E5E5;
  cursor: pointer;
  text-decoration:none;
}
.sidenav-img {
  width: 120px;
  height: 120px;
}
.sidenav-user-info h2 {
  color: #388087;
}

.search-sort {
  /* background: blue; */
  width: 100%;
}

.sorting-section {
  /* background-color: red; */
  /* width: 50%; */
}


.sorting-section button {
  /* background-color: #388087; */
  /* color: #E5E5E5; */
  cursor: pointer;
  text-transform: uppercase;
}

.active {
  background-color: blue;
  color: red;
}

.home-form {
  /* background-color: red; */
  padding: 10px 20px;
  width: 50%;
}
.home-form input::placeholder {
  font-weight: bold;
}

.home-form span{
  background-color: #388087;
  border-radius: 5px;
}
.home-form span:hover{
  background-color: #3E5050;
}
.home-form button {
  cursor: pointer;
  border-radius: none;
  outline: none;
}
.home-form button i {
  color: #E5E5E5;
}

.advance-search a {
  color: #388087;
  font-weight: bold;
  text-transform: uppercase;
}

.tracker-content-section{
  background: #F6F6F2;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 25px;
}

.register-form{
  width: 80%;
  margin-top: 2rem;
  border: 2px solid #388087;
  padding: 10px 20px;
  border-radius: 10px;
  color: #388087;
  background-color: #F6F6F2;
}

.register-form legend  {
  text-transform: uppercase;
  color: #388087;
  text-align: center;
}

.register-form button {
  margin: auto;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .register-form,
  .add-form {
    margin-top: 0rem;
  }
}
@media screen and (max-width: 500px) {
  .register-form,
  .add-form {
    margin-top: 0rem;
    width: 100%;
  }
}

/* end of register.html */

/* profile.html */

.profile-section {
  width: 80%;
  margin-top: 3rem;
  border: 2px solid #388087;
  padding: 10px 20px;
  border-radius: 2rem;
  color: #388087;
  text-transform: uppercase;
  background-color: #F6F6F2;
}

.profile-section legend {
  text-transform: uppercase;
}

.image-section {
  text-align: center;
}

.profile-section .asteriskField{
  color: black;
}

#id_image {
  width: 20%;
  margin: auto;
}

.account-img {
  height: 150px;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.profile-section button {

}

@media screen and (max-width: 768px) {
  .profile-section {
    margin-top: 0rem;
  }
  #id_image {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .profile-section {
    margin-top: 0rem;
    width: 100%;
  }
  #id_image {
    width: 100%;
  }
}

/* end of profile.html */


/* search */
.search-section .search-form{

  width: 80%;
  text-align: center;
}

.search-form p{
  margin: 1rem;
}
.search-form p input{
  margin: 0.2rem;
}
.search-form button {
  background-color: red;
  text-transform: uppercase;
  font-size: 0.9vw;
  font-weight: bold;
  text-align: center;
}

.advance-search-section {
width: 80%;
}
.advance-search-form {

  text-align: center;
}
.advance-search-section .card{
width: 100%;
}