body {
  background: #E5E5E5;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 5rem;
  font-family: 'Russo One', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  /* color: white; */
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #388087;
}

.site-header .navbar-nav .nav-link {
  color: #F6F6F2;
}

.site-header .navbar-nav .nav-link:hover {
  color: #3E5050;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: bold;
}


/* home.html */
.sidenav {
  position: fixed;
  background: #F6F6F2;
  height: 100vh;
  width: 16%;
  margin-top: -5rem;
  padding-top: 5rem;
  color: #388087;s
}

.tracker-content-section{
  background: #F6F6F2;
  padding: 10px 20px;
  border-radius: 10px;
}

.card {
  background-color: #388087;
  margin: 2rem 0;
  border-radius: 10px;
  border-color: #F6F6F2;
  width: 80%;
  color: white;
}

.card-header {
  border-color: #F6F6F2;
  border-width: 0.2rem;

}

.card-header p {
  font-size: 1vw;
}

.card-body{
  text-transform: uppercase;

}
.card-body p{
  /* background:red; */
    display: inline-block;
    float: left;
    clear: left;
    width: 42%;
    text-align: right;
  font-size: 1.3vw;
}

.card-body span{
  display: inline-block;
  float: left;
  font-size: 1.3vw;
}
/* end of home.html */

.register-form {
  width: 80%;
  margin-top: 2rem;
  border: 2px solid #388087;
  padding: 10px 20px;
  border-radius: 10px;
  color: #388087;
  background-color: #F6F6F2;
}

.register-form legend  {
  text-transform: uppercase;
  color: #388087;
  text-align: center;
}

.register-form button {
  margin: auto;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .register-form {
    margin-top: 0rem;
  }
}
@media screen and (max-width: 500px) {
  .register-form {
    margin-top: 0rem;
    width: 100%;
  }
}
/* register.html */



/* end of register.html */

/* .article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
} */
