body {
  background: #E5E5E5;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 5rem;
  font-family: 'Russo One', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  /* color: white; */
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #388087;
}

.site-header .navbar-nav .nav-link {
  color: #F6F6F2;
}

.site-header .navbar-nav .nav-link:hover {
  color: #3E5050;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: bold;
}


/* home.html */
.sidenav {
  position: fixed;
  background: #F6F6F2;
  height: 100vh;
  width: 16%;
  margin-top: -5rem;
  padding-top: 5rem;
  color: #388087;
}

.sidenav-user-info {
  width: 180px;
  height: 200px;
  border-radius: 1rem;
  transition: all  0.5s;
}
.sidenav-user-info:hover {
  background: #E5E5E5;
  cursor: pointer;
  text-decoration:none;
}
.sidenav-img {
  width: 120px;
  height: 120px;
}
.sidenav-user-info h2 {
  color: #388087;
}

.search-sort {
  /* background: blue; */
  width: 100%;
}

.sorting-section {
  /* background-color: red; */
  /* width: 50%; */
}


.sorting-section button {
  /* background-color: #388087; */
  /* color: #E5E5E5; */
  cursor: pointer;
  text-transform: uppercase;
}

.active {
  background-color: blue;
  color: red;
}

.home-form {
  /* background-color: red; */
  padding: 10px 20px;
  width: 50%;
}
.home-form input::placeholder {
  font-weight: bold;
}

.home-form span{
  background-color: #388087;
  border-radius: 5px;
}
.home-form span:hover{
  background-color: #3E5050;
}
.home-form button {
  cursor: pointer;
  border-radius: none;
  outline: none;
}
.home-form button i {
  color: #E5E5E5;
}

.advance-search a {
  color: #388087;
  font-weight: bold;
  text-transform: uppercase;
}

.tracker-content-section{
  background: #F6F6F2;
  padding: 10px 20px;
  border-radius: 10px;
}

.default-text-home {
  /* background-color: red; */
  min-height: 85vh;
}
.default-text-home h2,
.default-text-home h3  {
  color: #388087;
  opacity: 75%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.1vw;
}

.default-text-home a {
  background-color: #388087;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #F6F6F2;
  font-weight: bold;
}

.default-text-home a:hover {
  /* color: #388087; */
  background-color: #3E5050;
}

.card {
  background-color: #388087;
  margin: 2rem 0;
  border-radius: 10px;
  border-color: #F6F6F2;
  width: 80%;
  color: white;
}

.card-header {
  border-color: #F6F6F2;
  border-width: 0.2rem;

}

.card-header p {
  font-size: 1vw;
}

.card-body{
  text-transform: uppercase;

}
.card-body p{
  /* background:red; */
    display: inline-block;
    float: left;
    clear: left;
    width: 42%;
    text-align: right;
    font-size: 1.3vw;
    font-weight: bold;
}

.card-body span{
  display: inline-block;
  float: left;
  font-size: 1.3vw;
  color: #3E5050;
  font-weight: bold;
}

.card-footer {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card-footer a {
  color: #F6F6F2;
  text-decoration: none;
  cursor: pointer;
  margin: 0 2vw;
}

.card-footer a i {
  font-size: 1vw;
}

.card-footer .update-icon:hover {
  color: #3E5050;
}

.card-footer .delete-icon:hover {
  color: #AB1500;
}

/* end of home.html */

/* register.html */

.register-form,
.add-form {
  width: 80%;
  margin-top: 2rem;
  border: 2px solid #388087;
  padding: 10px 20px;
  border-radius: 10px;
  color: #388087;
  background-color: #F6F6F2;
}

.register-form legend  {
  text-transform: uppercase;
  color: #388087;
  text-align: center;
}

.register-form button {
  margin: auto;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .register-form,
  .add-form {
    margin-top: 0rem;
  }
}
@media screen and (max-width: 500px) {
  .register-form,
  .add-form {
    margin-top: 0rem;
    width: 100%;
  }
}

/* end of register.html */

/* profile.html */

.profile-section {
  width: 80%;
  margin-top: 3rem;
  border: 2px solid #388087;
  padding: 10px 20px;
  border-radius: 2rem;
  color: #388087;
  text-transform: uppercase;
  background-color: #F6F6F2;
}

.profile-section legend {
  text-transform: uppercase;
}

.image-section {
  text-align: center;
}

.profile-section .asteriskField{
  color: black;
}

#id_image {
  width: 20%;
  margin: auto;
}

.account-img {
  height: 150px;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.profile-section button {

}

@media screen and (max-width: 768px) {
  .profile-section {
    margin-top: 0rem;
  }
  #id_image {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .profile-section {
    margin-top: 0rem;
    width: 100%;
  }
  #id_image {
    width: 100%;
  }
}

/* end of profile.html */

/* add form */

.add-form textarea {
  height: 3rem;
}

.add-form #add-button {
  text-align: center;
}

/* end add form */

/* search */
.search-section .search-form{
  /* width: 80%; */
  /* background-color: red; */
  width: 80%;
  text-align: center;
}

.search-form p{
  margin: 1rem;
}
.search-form p input{
  margin: 0.2rem;
}
.search-form button {
  background-color: red;
  text-transform: uppercase;
  font-size: 0.9vw;
  font-weight: bold;
  text-align: center;
}

/* end search */

/* advance_search.html */

.advance-search-section {
width: 80%;
}
.advance-search-form {
  /* width: 80%; */
  text-align: center;
}
.advance-search-section .card{
width: 100%;
}


/* .article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
} */
